.auth__form {
    display: flex;
    flex-direction: column;
    width: calc(100% - 72px);
    margin: 0 auto 0;
    padding: 44px 0 37px;
    align-items: center;
    justify-content: center;
  }
  
  @media screen and (max-width: 500px) {
    .auth__form {
      width: calc(100% - 44px);
      padding-top: 70px;
      padding-bottom: 25px;
    }
  }